AddDefaultCharset UTF-8

Options -MultiViews
Options -Indexes
Options +FollowSymlinks

ErrorDocument 403 /errors/403.html
ErrorDocument 404 /404.html
ErrorDocument 500 /errors/500.html

<IfModule mod_rewrite.c>
	RewriteEngine On
	
	RewriteCond %{HTTPS} !=on
	RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [R,L]
	
	# Rules to correctly serve gzip compressed CSS and JS files.
	# Requires both mod_rewrite and mod_headers to be enabled.
	<IfModule mod_headers.c>
		# Serve gzip compressed CSS files if they exist and the client accepts gzip.
		RewriteCond %{HTTP:Accept-encoding} gzip
		RewriteCond %{REQUEST_FILENAME}\.gz -s
		RewriteRule ^(.*)\.css $1\.css\.gz [QSA]

		# Serve gzip compressed JS files if they exist and the client accepts gzip.
		RewriteCond %{HTTP:Accept-encoding} gzip
		RewriteCond %{REQUEST_FILENAME}\.gz -s
		RewriteRule ^(.*)\.js $1\.js\.gz [QSA]

		# Serve correct content types, and prevent mod_deflate double gzip.
		RewriteRule \.css\.gz$ - [T=text/css,E=no-gzip:1]
		RewriteRule \.js\.gz$ - [T=text/javascript,E=no-gzip:1]

		<FilesMatch "(\.js\.gz|\.css\.gz)$">
			# Serve correct encoding type.
			Header set Content-Encoding gzip
			# Force proxies to cache gzipped & non-gzipped css/js files separately.
			Header append Vary Accept-Encoding
		</FilesMatch>
	</IfModule>
</IfModule>